body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
}

#bodyContent {
  resize: none;
}
